# Environment files
.env
*.env
backend/.env

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
backend/__pycache__/

# Virtual Environment
venv/
env/
ENV/

# YOLO model weights
*.pt
backend/*.pt

# OS files & temp
.DS_Store
Thumbs.db
.a/
